# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
env/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask uploads & results
static/uploads/
static/results/

# YOLO/Detection outputs
runs/
*.pt
cropped_plates/

# Temporary / cache files
*.tmp
*.bak
*.swp
.cache/
.ipynb_checkpoints/

# CSV result files
plate_results.csv
